
body {
  background: #fff;
  color: #303030;
}
.logo {
  display: block;
  width: 180px;
  height: 60px;
  margin: 0 auto;
  background: url(../img/logo.png) no-repeat 0 0;
}
.footer {
  padding: 100px 0;
  background: #F0F0F0;
}
.footer .copyright {
  padding: 0 0 40px;
  border-bottom: 1px solid #DADADA;
}
